.Card {

    -fx-border-color: black;
    -fx-alignment: center;
    -fx-padding: 10px;

}

.Card:hover {
    -fx-border-color: crimson;
}

.Card.Selected {

    -fx-border-color: red;

}

.Card Label {
    -fx-alignment: center;
    -fx-wrap-text: true;
}

.Card .Health {
    -fx-text-fill: Green;
}

.Card .Damage {
    -fx-text-fill: Red;
}

.active .Ability:hover{
    -fx-cursor: hand;
    -fx-background-color: #a7b0b4 ;
}

.Ability{
    -fx-border-color:grey;
    -fx-border-width:  1 0 0 0;
}
.Ability .Name {
    -fx-font-weight: bold;
}
Ability TextArea{
    -fx-max-width: 100;
    -fx-max-height: 100;
}
.CardArea {
    -fx-spacing: 10;
}
.CardArea .Label {
    -fx-wrap-text: true;
}

.CardArea .Hand {
    -fx-spacing: 10;
}

.CardArea .Bench {
    -fx-spacing: 10;
}

.Deck {
    -fx-border-color: black;
    -fx-min-width: 30;
    -fx-min-height: 50;
    -fx-alignment: center;
}